@import '../../../shared/style/variable.scss';

.winner {
  padding: 0 1.5rem 1rem;

  &Table {
    margin-top: 50px;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-color: $header-color;
    border-width: 2px;
    font-size: 1.2rem;
  }

  &Thead {
    background-color: $header-color;
  }

  &Td {
    padding: 0 10px;
    text-align: center;
    vertical-align: middle;
  }

  &Tyellow {
    padding: 3px 10px;
    background-color: $header-color;
  }

  &Tblack {
    padding: 3px 10px;
    background-color: transparent;
  }

  &Sort {
    padding: 0 10px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
  }
}
