@import 'variable';

@font-face {
  font-family: 'Jersey';
  src: url('/font/Jersey15-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  font:
    14px/1.4 'Jersey',
    sans-serif;
  color: $text-color;
  background-image: url('/assets/images/race.jpg');
  height: 100%;
  width: 100%;
  background-size: 'cover';
  background-repeat: 'no-repeat';
}

h1 {
  font:
    24px/1.4 'Jersey',
    sans-serif;
  color: $header-color;
}

h2 {
  font:
    18px/1.4 'Jersey',
    sans-serif;
  color: $header-color;
}

input {
  height: 20px;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid $header-color;
  font-size: 14px;
  outline: none;
  box-shadow: inset 0px 5px 10px 0px $header-color;
}

input [type='color'] {
  height: 23px;
  cursor: pointer;
}
