.controlPanel {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  gap: 0.5rem;
  height: 65px;

  &Forms {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
