@import '../../../shared/style/variable.scss';

.headerList {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  padding: 0 2rem;

  &Item a {
    font:
      30px/1.4 'Jersey',
      sans-serif;
    text-decoration: none;
    color: $text-color;
    text-shadow:
      0 0 7px $text-color,
      0 0 10px $text-color,
      0 0 21px $text-color,
      0 0 42px $header-color,
      0 0 82px $header-color,
      0 0 92px $header-color,
      0 0 102px $header-color,
      0 0 151px $header-color;

    &:hover {
      color: $header-color;
      opacity: 1;
    }

    &Active {
      opacity: 1;
    }
  }
}
